<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div th:fragment="jqueryAndBootstrap">
    <!--JAVASCRIPT (skal være til sidst for gode loading tider)-->
    <!-- BOOTSTRAP MaxCDN jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- BOOTSTRAP MaxCDN Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>

</body>
</html>