body{
    background-color: black;
    color: whitesmoke;
}

nav.navbar-inverse {
    background-color: black;
    border-bottom-color: black;
}

li.active > a  {
    background-color: black;
    border-bottom-color: whitesmoke;
    border-bottom-style: solid;
    border-bottom-width: thin;
}