<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head(~{::title},~{::link})">

    <!--Bliver injektet i th:replace-->
    <title>Kontakt mig</title>
    <link rel="stylesheet" th:href="@{\css\ViewSpecific\ContactPage.css}">

</head>

<body>
    <nav th:insert="fragments/navbars :: publicNav">
    </nav>
    <!--Bootstrap container class; giver margin-->
    <div class="container">

        <!--Bootstrap row-->
        <div class="row">
            <!-- Bootstrap kolonner-->
            <div class="col-sm-4 align-left">
                <img width="750" height="450" th:src="@{/img/cmpSkull.gif}" title="Central Media Productions">
            </div>
            <div class="col-sm-4">  </div>
            <div class="col-sm-4 align-right">
                <div></div>
                <h1>Morten Jensen</h1>
                <h1>Filmfotograf</h1>
                <h1>Mobil: +45 51331382 </h1>
                <h1>Mail: mortenCmp@gmail.com  </h1>
                <h1>Møntmestervej 2400 København </h1>
                <h3>2016© Central Media Productions</h3>
                <h3>CVR-nr.: 35283587 </h3>
            </div>
        </div>
    </div>

    <div th:replace="fragments/scripts :: jqueryAndBootstrap"></div>

</body>
</html>