<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head(~{::title},~{::link})">

    <!--Bliver injektet i th:replace-->
    <title>Kontakt mig</title>
    <link rel="stylesheet" th:href="@{\css\ViewSpecific\ContactPage.css}">

</head>

<body>
    <nav th:insert="fragments/navbars :: publicNav">
    </nav>
    <!--Bootstrap container class; giver margin-->
    <div class="container">

        <!--Bootstrap row-->
        <div class="row">
            <!-- Bootstrap kolonner-->
            <div class="col-sm-4 align-left">
                <img width="750" height="450" th:src="@{/img/cmpSkull.gif}" title="Central Media Productions">
            </div>
            <div class="col-sm-4">  </div>
            <div class="col-sm-4 align-right">
                <div class="contactFontNormal">Morten Jensen</div>
                <div class="contactFontNormal">Filmfotograf</div>
                <div class="contactFontNormal">Mobil: +45 51331382</div>
                <div class="contactFontNormal">Mail: mortenCmp@gmail.com</div>
                <div class="contactFontNormal">Møntmestervej 2400 København</div>
                <h2></h2>
                <div class="contactFont">Central Media Productions</div>
                <div class="contactFont">2016©</div>
                <div class="contactFont">CVR-nr.: 35283587</div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/scripts :: jqueryAndBootstrap"></div>

</body>
</html>