<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
    <!--Denne her normaliserer vores html siders head sektion, så vi kun skal skrive det et sted-->

    <!--Bliver injektet i th:replace-->
    <title>SUCCESS</title>

    <!--Gør skærmen grøn (bliver injektet oppe i th:replace-->
    <link rel="stylesheet" th:href="@{\css\ViewSpecific\template.css}">

</head>

<body>
    <!--Bootstrap container class; giver margin-->
    <div class="container">

        <!--<div class="row">
            <div th:replace="fragments/header :: header"/>
        </div>-->

        <!--Bootstrap row-->
        <div class="row">


            <!-- Bootstrap kolonner-->
            <div class="col-lg-8 col-lg-offset-2 align-middle">
                <br>
                <div class="jumbotron">
                    <h1>Template Tester</h1>
                </div>

                <!--text statement-->
                <h2>Thymeleaf Test:</h2>
                <h3 th:text="'SUCCESS'">FAILED</h3>

                <!--Thymeleaf tests-->
                <!--if statements-->
                <h2>Model Test:</h2>
                <h3 th:if="!controllerTest">FAILED</h3>
                <h3 th:if="controllerTest">SUCCESS</h3>

                <h2>Injection Tests:</h2>
                <h3 style="color: white">CSS Link tag: SUCCESS</h3>
                <h3 style="color: green">CSS Link tag: FAILED</h3>

                <h3>Title-injection: kig i Tab title.</h3>

            </div>
        </div>
    </div>

    <div th:replace="fragments/scripts :: jqueryAndBootstrap"></div>

</body>
</html>