<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head(~{::title},~{::link})">

    <!--Bliver injektet i th:replace-->
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{\css\ViewSpecific\VideoGrid.css}">

</head>
<body>
    <nav th:insert="fragments/navbars :: publicNav">
    </nav>

        <!--Bootstrap row-->
        <div class="row">
            <!--Developermode-->
            <div th:replace="fragments/dummyData/videoGridData :: dummy_videos"></div>

            <!--The actual videos-->
            <div class="col-sm-12 video-list">
                <a th:each="video : ${videos}" th:href="${video.videoUrl}" class="video-link">
                    <img class="video-thumbnail" th:src="${video.photoUrl}"/>
                    <div class="video-thumbnail-overlay">
                        <h2 th:text="${video.title}" class="video-thumbnail-title">ticktock :: A violence of innocence</h2>
                    </div>
                </a>
            </div>
        </div>
    <div th:replace="fragments/scripts :: jqueryAndBootstrap"></div>

</body>
</html>