<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head(~{::title},~{::link})">

    <!--Bliver injektet i th:replace-->
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{\css\ViewSpecific\VideoGrid.css}">

</head>

<body>
    <nav th:insert="fragments/navbars :: publicNav">
    </nav>
    <!--Bootstrap container class; giver margin-->
    <div class="container">

        <!--Bootstrap row-->
        <div class="row">
            <!-- Bootstrap kolonner-->
            <div class="col-lg-12 video-list">
                <a href="https://www.youtube.com/watch?v=q9pREfHHfbE&sns=fb" class="video">
                    <div class="videothumbnail-text-container">
                        <div class="videothumbnail-title">ticktock :: A violence of innocence</div>
                    </div>
                    <img th:src="@{/img/ticktock.png}"/>
                </a>
                <a href="/foto" class="video">
                    <div class="videothumbnail-text-container">
                        <div class="videothumbnail-title">ticktock :: A violence of innocence</div>
                    </div>
                    <img th:src="@{/img/16_9.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/21_9.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/4_3.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/3_4.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/1_1.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/16_9.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/21_9.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/4_3.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/3_4.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/1_1.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/16_9.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/21_9.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/4_3.png}"/>
                </a>
                <a href="/foto" class="video">
                    <img th:src="@{/img/3_4.png}"/>
                </a>
            </div>

        </div>
    </div>

    <div th:replace="fragments/scripts :: jqueryAndBootstrap"></div>

</body>
</html>