<!DOCTYPE html>
<!--Thymeleaf xlmns-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head(~{::title},~{::link})">

    <!--Bliver injektet i th:replace-->
    <title>Portfolio</title>
    <link rel="stylesheet" th:href="@{\css\ViewSpecific\VideoGrid.css}">

</head>
<body>
    <div class="container-fluid">
        <!--<nav th:insert="fragments/uiFragments/navbars :: publicNav">
        </nav>-->
        <nav th:insert="fragments/navbars :: publicNav">
        </nav>

            <!--VideoGrid Fragment-->
            <div th:replace="fragments/uiFragments/videoGridFragment :: videoGrid"></div>

        <div th:replace="fragments/scripts :: jqueryAndBootstrap"></div>
        <div th:replace="fragments/scripts :: genreSortScript"></div>
    </div>
</body>
</html>